// 发布页自定义样式
// 发布页顶部左侧背景颜色
$lauch-top_l-bgColor: #BF7777;

// 发布页顶部左侧字体颜色
$lauch-top_l-color: white;

// 发布页顶部右侧字体颜色
$lauch-top_r-color: #BF7777;

// 发布页顶部右侧背景颜色
$lauch-top_r-bgColor: silver;

// 发布页次级导航栏字体颜色
$lauch-nav-color:white;

// 发布页次级导航栏背景颜色
$lauch-nav-bgColor : #BF7777;
// 发布页top高度
$lauch-top-height:100rpx;

// 发布页nav高度
$lauch-nav-height:90rpx;

// 发布页content高度
$lauch-content-height:1000rpx;

// 发布页content字体颜色
$lauch-content-color:#BF7777;